<div class="theatre-container-column">
  <div class="theatre-container-row textanims-box">
    <div class="theatre-container-column textflyin-box">
      <h2>{{localize "Theatre.Flyin.Label"}}</h2>
      <div class="theatre-container-column no-scrollbar">
        {{#each textFlyin as |func key|}}
        <div
          class="theatre-text-box textanim no-scrollbar"
          name="{{key}}"
          otext="{{func.label}}"
        >
          {{func.label}}
        </div>
        {{/each}}
      </div>
    </div>
    <div class="theatre-container-column textstanding-box">
      <h2>{{localize "Theatre.Standing.Label"}}</h2>
      <div class="theatre-container-column no-scrollbar">
        <div
          class="theatre-text-box textanim no-scrollbar"
          name="none"
          otext="{{localize 'Theatre.Standing.None'}}"
        >
          {{localize 'Theatre.Standing.None'}}
        </div>
        {{#each textStanding as |func key|}}
        <div
          class="theatre-text-box textanim no-scrollbar"
          name="{{key}}"
          otext="{{func.label}}"
        >
          {{func.label}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="theatre-container-column emote-box">
    <div class="emotebar">
      <h2>{{localize "Theatre.Emote.Label"}}</h2>
      <select
        class="fontselect"
        title="{{localize 'Theatre.UI.Title.FontType'}}"
      >
        {{#each fonts as |font key|}}
        <option value="{{font}}" style="font-family: {{font}};">
          {{font}}
        </option>
        {{/each}}
      </select>
      <div
        class="sizeselect theatre-control-btn"
        title="{{localize 'Theatre.UI.Title.FontSize'}}"
      ></div>
      <input
        class="colorselect theatre-control-btn"
        type="color"
        value="#FFFFFF"
        data-edit="fontcolor"
        title="{{localize 'Theatre.UI.Title.FontColor'}}"
      />
    </div>
    <div class="theatre-container-row theatre-container-tiles no-scrollbar">
      {{#each emotes as |em key|}} {{#if em}}
      <div class="emote" name="{{em.name}}" title="{{em.label}}">
        {{#if em.image}}
        <img src="{{em.image}}" draggable="false" />
        {{else}}
        <i class="{{em.fatype}} {{em.faname}}"></i>
        {{/if}}
      </div>
      {{/if}} {{/each}}
    </div>
  </div>
</div>
