<form autocomplete="off" onsubmit="event.preventDefault();">
  <div class="theatre-config-tab-pane">
    <nav class="sheet-tabs tabs theatre-config-tabs">
      <a class="item" data-tab="main">
        <i class="fas fa-user"></i>
        {{localize "Theatre.UI.Config.Main"}}
      </a>
      <a class="item" data-tab="emotes">
        <i class="far fa-laugh"></i>
        {{localize "Theatre.Emote.Label"}}
      </a>
    </nav>
    <div class="tab theatre-config-tab no-scrollbar" data-tab="main">
      <p class="notes">{{localize "Theatre.UI.Config.InsertName"}}</p>
      <div class="form-group">
        <input
          name="flags.theatre.name"
          placeholder="{{object.name}}"
          value="{{object.flags.theatre.name}}"
        />
      </div>
      <p class="notes">{{localize "Theatre.UI.Config.SetTopAlign"}}</p>
      <div class="form-group">
        <select name="flags.theatre.optalign" data-dtype="String">
          {{#select object.flags.theatre.optalign}}
          <option value="top">
            {{localize "Theatre.UI.Config.SetTopAlignTop"}}
          </option>
          <option value="bottom">
            {{localize "Theatre.UI.Config.SetTopAlignBottom"}}
          </option>
          {{/select}}
        </select>
      </div>
      <p class="notes">{{localize "Theatre.UI.Config.SetDefaultInsert"}}</p>
      <div class="form-group">
        <label>{{localize "Theatre.UI.Config.BaseInsert"}}</label>
        {{filePicker type="imagevideo" target="flags.theatre.baseinsert"}}
        <input
          class="image"
          type="text"
          name="flags.theatre.baseinsert"
          placeholder="{{object.img}}"
          value="{{object.flags.theatre.baseinsert}}"
          data-dtype="String"
        />
      </div>
    </div>
    <div class="tab theatre-config-tab no-scrollbar" data-tab="emotes">
      <div class="form-group">
        <label>{{localize "Theatre.UI.Config.DisableDefaultAnim"}}</label>
        <input
          type="checkbox"
          name="flags.theatre.disabledefault"
          data-dtype="Boolean"
          {{checked
          object.flags.theatre.disabledefault}}="{{checked object.flags.theatre.disabledefault}}"
        />
        <p class="notes">
          {{localize "Theatre.UI.Config.DisableDefaultAnimHint"}}
        </p>
      </div>
      <hr />
      <h3 class="form-header">
        {{localize "Theatre.UI.Config.ConfigureEmotes"}}
      </h3>
      <p class="notes">{{localize "Theatre.UI.Config.ConfigureEmotesHint"}}</p>
      <div class="theatre-container-column emote-list">
        {{#each emote as |em key|}} {{#if em}}
        <div class="theatre-config-form-group" name="{{key}}">
          {{#if em.custom}}
          <label
            class="theatre-config-emote-label customlabel"
            data-edit="flags.theatre.emotes.{{key}}.label"
            title="{{localize 'Theatre.UI.Title.ChooseEmoteName'}}"
          >
            {{em.label}}
            <div
              class="theatre-config-emote-label-dock"
              title="{{localize 'Theatre.UI.Title.DeleteCustomEmote'}}"
            >
              <i class="fas fa-trash"></i>
            </div>
          </label>
          {{else}}
          <label class="theatre-config-emote-label">{{em.label}}</label>
          {{/if}}
          <div class="theatre-emote-icon">
            {{#if em.image}} {{#if em.custom}}
            <img
              class="customicon"
              src="{{em.image}}"
              data-edit="flags.theatre.emotes.{{key}}.image"
              title="{{localize 'Theatre.UI.Title.ChooseEmoteIcon'}}"
              draggable="false"
            />
            {{else}}
            <img src="{{em.image}}" draggable="false" />
            {{/if}} {{else}}
            <i class="{{em.fatype}} {{em.faname}}"></i>
            {{/if}}
          </div>
          {{filePicker type="image" target=(concat "flags.theatre.emotes." key
          ".insert")}}
          <input
            class="image"
            type="text"
            name="flags.theatre.emotes.{{key}}.insert"
            placeholder="{{localize 'Theatre.UI.Config.PathPlaceholder'}}"
            value="{{lookup (lookup object.flags.theatre.emotes key) 'insert')}}"
            data-dtype="String"
          />
          <!--button.theatre-config-btn-edit-emote(type="button" name="{{key}}" title="{{localize 'Theatre.UI.Config.ConfigureEmote'}}")-->
          <!--i.fas.fa-sliders-h-->
        </div>
        {{/if}} {{/each}}
        <button
          class="theatre-config-btn-add-emote"
          type="button"
          name="add-emote"
        >
          {{localize "Theatre.UI.Config.AddEmote"}}
        </button>
      </div>
    </div>
    <button type="submit" name="submit">
      <i class="fas fa-save"></i>
      {{localize "Theatre.UI.Config.SaveSettings"}}
    </button>
  </div>
</form>
